apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-env-app
  labels:
    app: multi-env-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: multi-env-app
  template:
    metadata:
      labels:
        app: multi-env-app
    spec:
      containers:
        - name: multi-env-app
          image: REPLACE_WITH_ECR_URI:latest
          ports:
            - containerPort: 8080
          env:
            - name: ENVIRONMENT
              value: dev
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "250m"
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
