apiVersion: apps/v1
kind: Deployment
metadata:
  name: multi-env-app
  labels:
    app: multi-env-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: multi-env-app
  template:
    metadata:
      labels:
        app: multi-env-app
    spec:
      imagePullSecrets:
        - name: ecr-registry
      containers:
      - name: multi-env-app
        image: "{{IMAGE_URI}}:{{IMAGE_TAG}}"  # هذا متغير ديناميكي
        env:
        - name: ENVIRONMENT
          value: "dev"
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: "100m"
            memory: "64Mi"
          limits:
            cpu: "250m"
            memory: "128Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 5
