name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.build-image.outputs.image_tag }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
        | docker login --username AWS --password-stdin \
          ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

    - name: Build and Push Image
      id: build-image
      run: |
        IMAGE_TAG="${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:${GITHUB_SHA}"
        echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
        echo "Building image: $IMAGE_TAG"
        docker build -t $IMAGE_TAG ./app
        docker push $IMAGE_TAG
        echo "Pushed image successfully!"
    - name: Test AWS Credentials
      run: |
        aws sts get-caller-identity


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --name ${{ secrets.EKS_CLUSTER_NAME }} --region ${{ secrets.AWS_REGION }}

    - name: Deploy to EKS
      run: |
        IMAGE_TAG="${{ needs.build.outputs.image_tag }}"
        echo "Deploying: $IMAGE_TAG"
        if [ -z "$IMAGE_TAG" ]; then
          echo "ERROR: IMAGE_TAG is empty"
          exit 1
        fi
        kubectl set image deployment/multi-env-app multi-env-app=$IMAGE_TAG
        kubectl rollout status deployment/multi-env-app --timeout=60s
